body: {
  margin: 0;
}
header .home-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .well,
section .well {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}
header .well {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  padding: 1em 0;
}
nav {
  flex-direction: column;
  text-align: right;
  width: 6em;
}
section .well {
  max-width: 600px;
}
ul.breadcrumbs {
  display: flex;
  list-style: none;
  padding-left: 0;
}
ul.breadcrumbs li {
  padding-right: 0.5em;
}
ul.breadcrumbs li::after {
  content: ' > ';
}
ul.breadcrumbs li::last-child {
  content: '';
}
.logo.text {
  height: 60px;
  width: 180px;
}
.picture {
  height: 100px;
  width: 100px;
}
.home-links .picture {
  border-radius: 5em;
  margin-right: 0.5em;
}
.home-links {
  min-height: 100px;
}

#crud-controls {
  position: absolute;
  bottom: 3em;
  left: 45%;
}
